**/out/
*.log
C:\Users\petro\IdeaProjects\idea922\CodingFactory6\src\gr\aueb\cf\README
C:\Users\petro\IdeaProjects\idea922\CodingFactory6\src\gr\aueb\cf\.git\
C:\Users\petro\IdeaProjects\idea922\CodingFactory6\src\gr\aueb\cf\.gitignore